<body class="text-center">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Create account</h1>

    <label class="sr-only" for="inputEmail">Email address</label>
    <input class="form-control"
           id="inputEmail"
           autofocus=""
           required type="email"
           placeholder="Email address"
           (keypress)="onKeyPress()"
           [(ngModel)]="user.email"
           [ngModelOptions]="{standalone: true}"
           #email="ngModel"
           [ngClass]="{
            'is-invalid':email.invalid && (email.dirty || email.touched),
            'is-valid':email.valid && (email.dirty || email.touched)
           }">
    <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
      Invalid email!
    </div>

    <label class="sr-only" for="inputPassword">Password</label>
    <input class="form-control"
           id="inputPassword"
           required type="password"
           placeholder="Password"
           [(ngModel)]="user.password"
           [ngModelOptions]="{standalone: true}"
           #password="ngModel"
           [ngClass]="{
            'is-invalid':password.invalid && (password.dirty || password.touched),
            'is-valid':password.valid && (password.dirty || password.touched)
           }">
    <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
      Invalid password!
    </div>

    <label class="sr-only" for="inputName">Name</label>
    <input class="form-control"
           id="inputName"
           required type="text"
           placeholder="Name"
           [(ngModel)]="user.name"
           [ngModelOptions]="{standalone: true}"
           #name="ngModel"
           [ngClass]="{
            'is-invalid':name.invalid && (name.dirty || name.touched),
            'is-valid':name.valid && (name.dirty || name.touched)
           }">
    <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
      Invalid name!
    </div>

    <label class="sr-only" for="inputSurname">Surname</label>
    <input class="form-control"
           id="inputSurname"
           required type="text"
           placeholder="Surname"
           [(ngModel)]="user.surname"
           [ngModelOptions]="{standalone: true}"
           #surname="ngModel"
           [ngClass]="{
            'is-invalid':surname.invalid && (surname.dirty || surname.touched),
            'is-valid':surname.valid && (surname.dirty || surname.touched)
           }">
    <div class="invalid-feedback" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
      Invalid surname!
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signUp() ">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activeSpinner"></span>
      Save
    </button>

    <button class="btn btn-lg btn-secondary btn-block" type="button" [routerLink]='["/login"]'>
      Back
    </button>

    <div class="alert alert-primary" role="alert" *ngIf="userAuthentication">
      User Authenticated!
    </div>

    <div class="alert alert-danger" *ngIf="message">
      {{message}}
    </div>

    <p class="mt-5 mb-3 text-muted">© 2020</p>

  </form>


</body>
